build/
release/
*.suo
*.user
bin
!/bin
Bin
!/Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
.svn
*.log
log/
_Logs/
temp/
trunk/

*.orig
*.bak
*Publish.xml
.sass-cache/
_FileCache/